[Unit]
Description=Prometheus node exporter
Documentation=https://github.com/prometheus/node_exporter
After=network-online.target time-sync.target
Wants=network-online.target

[Service]
Type=simple
User=node_exporter
Group=node_exporter
EnvironmentFile=/etc/victoria-metrics/node_exporter.env
ExecStart=/usr/local/bin/node_exporter $NODE_EXPORTER_OPTS
Restart=on-failure
RestartSec=5
TimeoutStopSec=15
NoNewPrivileges=yes
ProtectSystem=strict
ProtectHome=yes
PrivateTmp=yes
PrivateDevices=yes
LockPersonality=yes
CapabilityBoundingSet=
RestrictAddressFamilies=AF_INET AF_INET6
ReadOnlyPaths=/etc/victoria-metrics

[Install]
WantedBy=multi-user.target
